%header{:class => "row header"}
  %div{:class => "col-2 back_header"}
    = form_tag analytics_path, :method => :get do
      %i{:class => "fa fa-chevron-left"}
        = submit_tag 'Back', :class => "back_btn"
  %div{:class => "col-8 header_padding"}
    %h1{:class => "header_text"}Inventory Trajectories

%section{:class => "row"}
  %div{:class => "col-12 box_outline"}
    %table#items{:border => "1"}
      %thead
        %tr
          %th Trajectory for the Item
      %tbody
        -@items.each do |item|
          %tr{:class => "hi"}
            %td{:class => "padding"}= link_to item.Name, itemtrajectory_path(:id => item.Id, :name => item.Name)