%div{:class => "strip"}
%header{:class => "row header"}
  %div{:class => "col-2"}
    = link_to image_tag('back_btn.png', :class => "back_arrow"), analytics_path, :id => "back_btn"
  %div{:class => "col-8 header_padding"}
    %h1{:class => "header_text"} Inventory

%section{:class => "row"}
  %div{:class => "col-12 box_outline"}
    %table#items{:border => "1"}
      %thead
        %tr
          %th{:class => "gray"} Trajectory for the Item
      %tbody
        -@items.each do |item|
          %tr
            %td{:class => "padding"}= link_to item.Name, itemtrajectory_path(:id => item.Id, :name => item.Name)