%header{:class => "row header"}
  %div{:class => "col-2"}
    = link_to image_tag('back_btn.png', :class => "back_arrow"), root_path, :id => "back_btn"
  %div{:class => "col-8 header_padding"}
    %h1{:class => "header_text"}Update Items

%section{:class => "row"}
  %div{:class => "col-12 box_outline"}
    %table#items{:border => "1"}
      %thead
        %tr
          %th Item
          %th Quantity
      %tbody
        -@items.each do |item|
          %tr{:class => "hi"}
            %td{:class => "padding"}= link_to "#{item.Name}", update_item_path(item.Code__c)
            %td{:class => "align_quantity padding"}= item.Quantity__c
