
%header{:class => "row"}
  %div{:class => "col-12 header_padding"}
    %h1{:class => "header_text"} Index

%section

  %div{:class => "row"}
    %div{:class => "col-12 btn_padding"}
      %input{:type => "submit", :value => "Scanner Store", :class => "btn_align"} 

  %div{:class => "row"}
    %div{:class => "col-12 btn_padding"}
      = form_tag work_order_home_path, :method => :get do
        %input{:type => "submit", :value => "Work Order", :class => "btn_align"} 

  %div{:class => "row"}
    %div{:class => "col-12 btn_padding"}
      = form_tag store_item_path, :method => :get do
        %input{:type => "submit", :value => "Store Item", :class => "btn_align"}

  %div{:class => "row"}
    %div{:class => "col-12 btn_padding"}
      = form_tag update_quantity_path, :method => :get do
        %input{:type => "submit", :value => "Update Item Quantities", :class => "btn_align"} 

  %div{:class => "row"}
    %div{:class => "col-12 btn_padding"}
      = form_tag logout_path, :method => :get do
        %input{:type => "submit", :value => "Logout", :class => "btn_align"} 