<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title> Login Page </title>
    </head>
    
    <body>
        <header>
            <h2> ThereWithCare</h2>
            <h2> Inventory Tracker</h2>
        </header>
    
   
    </body>
</html>