<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
%hi Login Page
=======
=======
>>>>>>> k
=======
>>>>>>> 400a2f6e394d242308259cca6ac2f3b314c4e9f6
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title> Login Page </title>
    </head>
    
    <body>
        <header>
            <h2> ThereWithCare</h2>
            <h2> Inventory Tracker</h2>
        </header>
    
   
    </body>
<<<<<<< HEAD
<<<<<<< HEAD
</html>
>>>>>>> k
=======
</html>
>>>>>>> k
=======
</html>
>>>>>>> 400a2f6e394d242308259cca6ac2f3b314c4e9f6
