<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8"
        <title> Login Page </title>
    </head>
    
    <body>
        <header>
            <h2> ThereWithCare</h2>
            <h2> Inventory Tracker</h2>
        </header>
    
    <section>
        <fieldset>
            <form method = "post" action = "#">
                <label>
                    Username
                    <input type = "text" placeholder = "Username" required>
                    
                </label>
                <label>
                    Password
                    <input type = "password" placeholder = "Password" required>
                </label>
                <input type = "submit" value = "Login">
            </form>
        </fieldset>
    </section>
    </body>
</html>