%div{:class => "strip"}
%header{:class => "row header"}
  %div{:class => "col-12 header_with_pic"}
    =image_tag "twc_logo.png", :class => "logo"

%div{:class => "row error_message"}
  %div{:class => "col-12"}
    - if flash[:notice]
      %p{:class => "msg error"}= flash[:notice]

%section{:class => "row"}
  %div{:class => "box"}
    %h1{:class => "header_text padd"} Login
    = form_tag login_path, :method => :post do
      %fieldset{:class => "field_text col-8"}
        %label Email
        %br
        %input{:name => "email", :type => "text", :required => true}

      %fieldset{:class => "field_text col-8"}
        %label Password
        %br
        %input{:name => "password", :type => "password", :required => true}

      %fieldset{:class => "field_text button col-8"}
        %input{:type => "submit", :value => "Login"} 