%h1 Login Page

= form_tag login_path, :method => :post do
  %label Email
  %input{:name => "email", :type => "text"}
  %label Password
  %input{:name => "password", :type => "password"}
  %input{:type => "submit", :value => "Sign in"} 