!!! 5
%html
  %head
    %title Confirmation Page
    = stylesheet_link_tag 'confirmati'
    
  %body
    %header{:class => "header"}
      %h2 Are You Sure?
    %section{:class => "row section"}
      %div{:class => "col-6"}
        %div{:class => "btn left"}
          = link_to 'Delivered', login_path
      %div{:class => "col-6"}
        %div{:class => "btn"} 
          = link_to 'Go Back', item_list_path

