%div{:class => "strip"}
%header{:class => "row header"}
  %div{:class => "col-2"}
    = link_to image_tag('back_btn.png', :class => "back_arrow"), root_path, :id => "back_btn"
  %div{:class => "col-8 header_padding"}
    %h1{:class => "header_text"} Confirmation

%section{:class => "nav_box"}
  %div{:class => "row"}

    %div{:class => "col-6"}
      = link_to image_tag('no.png'), item_list_path(params[:id]), :class => "img-responsive", :id => "Not Delivered"
      %label{:class => "icon_title"} Not Delivered

    %div{:class => "col-6"}
      =link_to image_tag('yes.png'), deliver_path(@care_package.id__c), :class => "img-responsive", :id => "Delivered"
      %label{:class => "icon_title"} Delivered
// = form_tag deliver_path(@care_package.id__c), :method => :post do
//   = submit_tag 'Delivered'
// = form_tag item_list_path(params[:id]), :method => :get do
//   = submit_tag 'Go Back'

