.datetable{
    width: 85%;
}

.datetable th, td{
    text-align: center;
}

.datelabel{
    width: 15%;
}

.datelabel label{
    position: absolute;
    top: calc(50% - 0.5em);
    font-size: 1.5em;
    left: 1%;
}

.dateentry{
    background-color:white;
    border-radius: 10px;
    display: flex;
    width: 90%;
    position: relative;
    left: 5%;
}

tbody tr {
   border-bottom:2px solid #E0E0E0;
}

tbody tr:last-child {
   border-bottom:0;
}

@media only screen 
and (max-device-width : 800px)
  {
      
    .dateentry{
        width: 99%;
        left: 0.5%;
        border: 2px solid black;
        display: block;
    }
    
    .datelabel{
        width: auto;
        border-right: 0px solid black;
    }
    
    .datelabel label{
        position: relative;
        left: 10%;
        font-size: 1em;
    }
    
    .datetable {
        width: 100%;
        margin-bottom: 7px;
    }
    
  }