/*https://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries*/
@media only screen 
and (max-device-width : 768px)
    {
        .box{
           width:300px;
           padding:60px 20px 60px 20px;
        }

        .nav_box{
            width:300px;
        }
        
        .box_outline{
            width:570px;
        }
        
        .delete_img{
            width:20%;
        }
        
        .back_arrow{
	        width:35%;
	        height:35%;
	        color:white;
	        padding-top:10px;
	        float:left;
	        margin-left:20px;
        }
    }

@media only screen 
and (max-device-width : 480px)
    {
        .box{
           width:300px;
           padding:60px 20px 60px 20px;
        }
        
        .nav_box{
            width:300px;
        }
        
        .box_outline{
            width:400px;
            width:600px;
            border:1px solid black;
        }
        
        .delete_img{
            width:20%;
        }
        
        .back_arrow{
	        width:35%;
	        height:35%;
	        color:white;
	        padding-top:10px;
	        float:left;
	        margin-left:20px;
        }
}


@media only screen 
and (max-device-width : 375px)
     {
        .box{
           width:300px;
           padding:60px 20px 60px 20px;
        }
        
        .nav_box{
            width:300px;
        }
        
        .box_outline{
            width:400px;
            padding-left:0px;
        }
        
        .delete_img{
            width:20%;
        }
        
        .back_arrow{
	        width:35%;
	        height:35%;
	        color:white;
	        padding-top:18px;
	        float:left;
	        margin-left:20px;
        }
        
        
        .outer_box{
            width:400px;
            margin:0 auto;
        }
        
        .btns{
            display:block;
            margin:0 auto;
            margin-top:20px;
        }
        /*.col-8{*/
	       /* width:85.66%;*/
	       /* border:1px solid black;*/
        /*}*/

        /*.col-6{*/
        /*    width:46%;*/
        /*    display:inline-block;*/
        /*}*/
        
        .col-4{
            width:32.6%;
            display:inline-block;
        }
        
        .col-2{
	        width:16.66%;
        }
        
        .icon_btns{
            width:50%;
            height:50%;
        }

}
/*@media only screen and (min-device-width: 413px) and (max-device-width: 415px) { iPhone6+ Styles }*/
/*iPhone6 Styles */
@media only screen 
and (min-device-width: 374px) 
and (max-device-width: 376px) 
    { 
        .box{
           width:300px;
           padding:60px 20px 60px 20px;
        }
        
        .nav_box{
            width:80%;
        }
        
        .box_outline{
            width:240px;
        }
        
        .delete_img{
            width:20%;
        }
        
        .back_arrow{
	        width:35%;
	        height:35%;
	        color:white;
	        padding-top:18px;
	        float:left;
	        margin-left:20px;
        }
        
        .col-8{
	        width:95.66%;
	        /*border:1px solid black;*/
        }

        .col-6{
            width:30%;
            /*display:inline-block;*/
            /*border:1px solid black;*/
        }
        
        .col-4{
            width:32.6%;
            display:inline-block;
            /*border:1px solid black;*/
        }
        
        .col-2{
	        width:16.66%;
        }
}
/*@media only screen and (min-device-width: 359px) and (max-device-width: 361px) { iPhone6+ Alt Styles }*/
/*@media only screen and (min-device-width: 319px) and (max-device-width: 321px) { iPhone5 or less Styles }*/
