/*https://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries*/
@media only screen 
and (max-device-width : 768px)
    {
        .box{
           width:300px;
           padding:60px 20px 60px 20px;
        }

        .nav_box{
            width:300px;
        }
        
        .box_outline{
            width:570px;
        }
        
        .delete_img{
            width:20%;
        }
        
        .back_arrow{
	        width:35%;
	        height:35%;
	        color:white;
	        padding-top:10px;
	        float:left;
	        margin-left:20px;
        }
    }

@media only screen 
and (max-device-width : 480px)
    {
        .box{
           width:300px;
           padding:60px 20px 60px 20px;
        }
        
        .nav_box{
            width:300px;
        }
        
        .box_outline{
            width:100%;
        }
        
        .delete_img{
            width:20%;
        }
        
        .logo{
            height:30%;
            width:30%;
        }
        
        .back_arrow{
	        width:35%;
	        height:35%;
	        color:white;
	        padding-top:10px;
	        float:left;
	        margin-left:20px;
        }
}


@media only screen 
and (max-device-width : 375px)
     {
        .box{
           width:300px;
           padding:60px 20px 60px 20px;
        }
        
        .nav_box{
            width:300px;
        }
        
        .box_outline{
            width:240px;
        }
        
        .delete_img{
            width:20%;
        }
        
        .back_arrow{
	        width:35%;
	        height:35%;
	        color:white;
	        padding-top:18px;
	        float:left;
	        margin-left:20px;
        }
        
        
        .outer_box{
            width:300px;
            margin:0 auto;
        }
        
        .logo{
            height:30%;
            width:30%;
        }
        
        .btns{
            display:block;
            margin:0 auto;
            margin-top:20px;
        }
        
        .box_outline{
            width:100%;
        }
        
        .col-4{
            width:32.6%;
            display:inline-block;
        }
        
        .col-2{
	        width:16.66%;
        }

        .col-6{
            width:46%;
            display:inline-block;
        }

}
