/*https://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries*/
@media only screen 
and (max-device-width : 768px)
    {
        .box{
           width:300px;
           padding:60px 20px 60px 20px;
        }

        .nav_box{
            width:300px;
        }
        
        .box_outline{
            width:570px;
        }
        
        .delete_img{
            width:20%;
        }
    }

@media only screen 
and (max-device-width : 480px)
    {
        .box{
           width:300px;
           padding:60px 20px 60px 20px;
        }
        
        .nav_box{
            width:300px;
        }
        
        .box_outline{
            width:400px;
            border:1px solid black;
        }
        
        .delete_img{
            width:20%;
        }
}


@media only screen 
and (max-device-width : 375px)
     {
        .box{
           width:300px;
           padding:60px 20px 60px 20px;
        }
        
        .nav_box{
            width:300px;
        }
        
        .box_outline{
            width:240px;
        }
        
        .delete_img{
            width:20%;
        }
        .col-6{
            width:46%;
            display:inline-block;
        }
        
        .col-4{
            width:32.6%;
            display:inline-block;
        }
}