/*
=====================================
Description:
This CSS file deals with the 
positioning and alignment of elements
on the webpage.
=====================================
*/

.btn_padding{
	padding:10px;
}


/* 
=====================
Header modifications
=====================
*/

.header {
	background-color: #6D929B;
	box-shadow:2px 2px 1px #888888;
}

.header_padding{
	padding:20px;
}

.header_box {
	padding:20px;
}

.header_text{
	text-align:center;
	font-weight:800;
	font-size:20px;
	color:white;
	font: "Open Sans";
}

/* 
==================
Error Message
==================
*/

.msg{
	text-align:center;
}

.error{
	color:red;
}

.error_message{
	padding:10px;
}

/*
===========================
Box resizing for different
screen sizes
===========================
*/

/* mobile phones */
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.box {
	  width:300px;
	  height:300px;
	} 
}

/* Tablet and computer screens (portrait and landscape) */
@media only screen 
and (min-device-width : 768px) {
/* Styles */
  .box {
	  width:400px;
	  height:300px;
  } 
}

/*
==========================
Form Field Configurations
==========================
*/

.box{
	padding:60px 20px 20px 20px;
	background-color:white;
	margin:0 auto;
	margin-top:20px;
	box-shadow:3px 3px 2px #888888;
}

.field_text {
	padding:10px 10px 5px 15px;
	margin:0 auto;
}

.btn_align{
   display:block;
   margin:0 auto;
}

.button {
	padding: 10px 10px 5px 15px;
}

.btn_alignment {
	display:inline-block;
	width:8em;
}

.right_align{
	float:right;
}

.left-align{
	float:left;
}

label{
	margin-left:-4px;
}

input {
	width:18em;
	height:2em;
	margin-left:-4px;
}
