/*
=====================================
Description:
This CSS file deals with the 
positioning and alignment of elements
on the webpage.
=====================================
*/

/* 
=====================
Header modifications
=====================
*/

.header {
	background-color:#FFFFFF;
	box-shadow:2px 2px 1px #888888;
	/*#6D929B;*/
}

.header_padding{
	padding:20px;
}

.header_with_pic{
	padding:5px 0 5px 0;
}

.back_header{
	padding:14px 0 0 15px;
}

.header_box {
	padding:20px;
}

.header_text{
	text-align:center;
	font-weight:800;
	font-size:20px;
	font: "Open Sans";
	color:#6e6e6e;
}

.padd{
	padding-bottom:20px;
}

/* 
==================
Error Message
==================
*/

.msg{
	text-align:center;
}

.error{
	color:red;
}

.error_message{
	padding:10px;
}

/*
=========================
Button design and layout
=========================
*/

.back_btn{
	margin-left:-5px;
	background-color:#6D929B;
	font-weight:bold;
	font-size:18px;
	text-shadow:none !important;
	border:none !important;
	box-shadow:none !important;
    width: 4em;
	color:white;
	font-family: "Open Sans";
}

.back_btn:hover{
	cursor:pointer;
}

.btn_padding{
	padding:10px;
}

.btn_align{
   display:block;
   margin:0 auto;
}

.button {
	padding: 10px 10px 5px 15px;
}

input[type="submit"]{
	border-radius:5px;
	background-color:#eda53d;
	color:white;
	box-shadow: none;
}
/*
==========================
Form Field Configurations
==========================
*/

.box{
	width:400px;
	padding:60px 40px 80px 40px;
	background-color:white;
	margin:0 auto;
	margin-top:20px;
	box-shadow:3px 3px 2px #888888;
}

.field_text {
	padding:10px 10px 5px 15px;
	margin:0 auto;
}

.right_align{
	float:right;
}

.left-align{
	float:left;
}

label{
	margin-left:-4px;
}

input {
	width:18em;
	height:2em;
	margin-left:-4px;

}

.nav_box{
	width:400px;
	margin:0 auto;
	padding-top:20px;
}

.nav_bar_horizontal_padding{
	padding: 20px;
	background-color:white;
	margin-bottom:20px;
}
.nav_bar_vertical_padding{
	margin-right:20px;
}

.icon_title{
	display:block;
	text-align:center;
	margin:0 auto;
}

a {
	display:block;
    text-align:center;
}

.padding a {
	display:block;
    text-align:left;
}

.grid_box:hover{
	cursor:pointer;
	box-shadow:3px 3px 2px #888888;
}

.hidden_quantity{
	visibility:hidden;
}

.align_center{
	text-align:center;
}

.back_arrow{
	width:10%;
	height:10%;
	color:white;
	padding-top:15px;
	float:left;
	margin-left:20px;
}

.btn_row{
	padding:40px;
}