.box_outline{
    width:800px;
    background-color:white;
    margin:0 auto;
    margin-top:20px;
}

table, th, td{
    border:1px solid black;
    border-collapse: collapse;
    border-spacing: 2px;
}

table {
    table-layout: fixed; /* Makes columns equal width */
    width: 100%;
}

th {
    height: 40px;
    padding-top:10px;
}


.item{
    text-align:center;
}

.quantity{
    display:inline-block;
    margin:0 auto;
    text-align:center;
    width:100%;
}

.update_btn{
    display:inline-block;
    margin:0 auto;
    width:100%;
}